/*AJUESTES GENERALES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #0f0f14;
    color: white;
}

.contenedor {
    width: 320px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/*HEADER GENERAL ESTILO*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.headerTop img {
    max-width: 180px;
    height: auto;
}

.headerTop {
    width: 320px;
    height: 120px;
    background-color: #0f0f14;
    display: flex;
    justify-content: center;
    padding: 18px 0 12px 0;
    border-radius: 20px 20px 0 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTitle {
    width: 320px;
    background-color: #0f0f14;
    text-align: center;
    padding: 8px 0;
    border-bottom: 2px solid #ff2a2a;
}

.headerTitle h4 {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
}

/*FOOTER GENERAL ESTILO*/

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 2px solid #ff2a2a;
}

.footer a {
    color: #ff2a2a;
    font-size: 26px;
    text-decoration: none;
}

/*LOGIN ESTILO*/
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}


.caja-form {
    padding-top: 30px;
    width: 320px;
    border-radius: 0 0 20px 20px;
    border-top: none;
}


form {
    display: flex;
    flex-direction: column;
}

form h1 {
    color: #ff2a2a;
    margin-bottom: 15px;
}


form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}


#nombre {
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}


#pwd {
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}


#loginbtn {
    margin-top: 15px;
    height: 40px;
    background-color: transparent;
    color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}


#loginbtn:hover {
    background-color: #ff2a2a;
    color: white;
}

/*MENÚ ESTILO*/
.mainMenu {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainMenu div {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}


.button {
    width: 260px;
    height: 65px;
    background-color: #c40000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/*DESPLEGABLES*/
.mainList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selector {
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid red;
    padding: 0 10px;
    background-color: #291717;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.selector option {
    border-radius: 10px;
    border: 2px solid red;
    padding: 0 10px;
    background-color: #303030;
    color: white;
}

/*FORMULARIOS*/
.form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}