
/*AJUESTES GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #0f0f14;
    color: white;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
}

/*HEADER GENERAL ESTILO*/

header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header{
    width: 320px;                 
    background-color: #0f0f14;       
    padding: 18px 0 12px 0;       
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ff2a2a; 
}

.header img{
    width: 170px; 
}

.header h4{
    color: white;
    margin-left: 10px;
    font-size: 18px;
    align-self: center;
}

/*FOOTER GENERAL ESTILO*/
.footer{
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-top: 2px solid #ff2a2a;
}

.footer a{
    color: #ff2a2a;
    font-size: 26px;
    text-decoration: none;
}

/*LOGIN ESTILO*/
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 120px; 
}


.caja-form{
    padding-top: 30px;
    width: 320px;
    border-radius: 0 0 20px 20px;   
    border-top: none;               
}


form{
    display: flex;
    flex-direction: column;
}

form h1{
    color: #ff2a2a;
    margin-bottom: 15px;
}


form label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}


#nombre{
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}


#pwd{
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
}


#loginbtn{
    margin-top: 15px;
    height: 40px;
    background-color: transparent;
    color: #ff2a2a;
    border: 2px solid #ff2a2a;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}


#loginbtn:hover{
    background-color: #ff2a2a;
    color: white;
}

/*MENÚ ESTILO*/
.mainMenu{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.mainMenu div{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button{
    width: 260px;
    height: 55px;
    background-color: #c40000;
    border: none;
    border-radius: 10px;
}

.button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 55px;
    text-align: center;
}